## DATA PREPROCESSING AND DATA CLEANING

In [10]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [11]:
df = pd.read_csv('NeuroCardio.csv')
del df["BP value"]
df.head()

,Gender,Age,Heart rate(BPM),Heart rate variability,Respiratory rate,Mental Fatigue level,Reaction time delay,Adrenaline,Cortisol level,Stress level
0,Male,64,87,68.77,12,3.15,531.43,0.83,28.08,Very High
1,Female,64,88,83.06,26,8.52,428.84,2.71,12.95,Very High
2,Male,21,77,27.95,24,7.50,375.65,3.80,19.19,Very High
3,Male,24,71,68.80,14,3.11,318.27,0.71,8.72,High
4,Male,62,72,35.48,13,9.77,250.69,4.00,15.86,Very High

In [12]:
df.tail()

,Gender,Age,Heart rate(BPM),Heart rate variability,Respiratory rate,Mental Fatigue level,Reaction time delay,Adrenaline,Cortisol level,Stress level
4995,Male,47,82,83.97,24,6.54,428.63,4.07,17.56,Very High
4996,Female,21,89,77.01,12,3.05,452.75,2.72,13.37,Very High
4997,Male,22,69,31.29,13,8.85,224.70,2.72,22.22,Very High
4998,Female,18,67,110.89,29,8.21,426.93,2.44,12.00,Very High
4999,Female,44,103,39.89,15,7.78,591.94,1.53,21.08,Very High

In [13]:
df.shape

(5000, 10)

In [14]:
df.size

50000

In [15]:
df.columns

Index(['Gender', 'Age', 'Heart rate(BPM)', 'Heart rate variability',
       'Respiratory rate', 'Mental Fatigue level', 'Reaction time delay',
       'Adrenaline', 'Cortisol level', 'Stress level'],
      dtype='object')

In [16]:
df['Stress level'].unique()

array(['Very High', 'High', 'Moderate'], dtype=object)

In [17]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

var = ['Gender','Stress level']
  
for i in var:
    df[i] = le.fit_transform(df[i]).astype(int)

In [18]:
df['Gender'].unique()

array([1, 0])

In [19]:
df.isnull()

,Gender,Age,Heart rate(BPM),Heart rate variability,Respiratory rate,Mental Fatigue level,Reaction time delay,Adrenaline,Cortisol level,Stress level
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False,False,False,False
4996,False,False,False,False,False,False,False,False,False,False
4997,False,False,False,False,False,False,False,False,False,False
4998,False,False,False,False,False,False,False,False,False,False
4999,False,False,False,False,False,False,False,False,False,False

In [20]:
df = df.dropna()

In [21]:
df.describe()

,Gender,Age,Heart rate(BPM),Heart rate variability,Respiratory rate,Mental Fatigue level,Reaction time delay,Adrenaline,Cortisol level,Stress level
count,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000
mean,0.500800,40.973400,89.177200,70.06047,20.587200,5.430864,374.518072,2.740090,17.479338,1.48600
std,0.500049,13.514482,17.246846,28.66206,5.223739,2.565414,129.829566,1.296372,7.260399,0.86438
min,0.000000,18.000000,60.000000,20.01000,12.000000,1.000000,150.000000,0.500000,5.000000,0.00000
25%,0.000000,30.000000,74.000000,45.68000,16.000000,3.200000,261.025000,1.617500,11.257500,1.00000
50%,1.000000,41.000000,89.000000,70.28500,21.000000,5.420000,375.815000,2.750000,17.360000,2.00000
75%,1.000000,53.000000,104.000000,94.36000,25.000000,7.582500,485.577500,3.860000,23.892500,2.00000
max,1.000000,64.000000,119.000000,119.97000,29.000000,10.000000,599.910000,5.000000,30.000000,2.00000

In [22]:
df.corr()

,Gender,Age,Heart rate(BPM),Heart rate variability,Respiratory rate,Mental Fatigue level,Reaction time delay,Adrenaline,Cortisol level,Stress level
Gender,1.000000,0.016180,0.018006,0.004213,0.018276,-0.025233,0.017596,0.019850,-0.001780,-0.010619
Age,0.016180,1.000000,-0.015748,-0.010349,0.009629,-0.005678,0.011431,-0.015959,0.030753,0.003898
Heart rate(BPM),0.018006,-0.015748,1.000000,-0.002423,0.032805,0.025368,0.003558,-0.001800,0.009632,0.243604
Heart rate variability,0.004213,-0.010349,-0.002423,1.000000,-0.000571,0.001175,0.011499,0.025303,-0.005878,0.000387
Respiratory rate,0.018276,0.009629,0.032805,-0.000571,1.000000,-0.016657,-0.022429,-0.012893,0.005579,-0.001679
Mental Fatigue level,-0.025233,-0.005678,0.025368,0.001175,-0.016657,1.000000,0.012472,0.002398,-0.013127,0.423854
Reaction time delay,0.017596,0.011431,0.003558,0.011499,-0.022429,0.012472,1.000000,-0.000116,0.022964,0.366492
Adrenaline,0.019850,-0.015959,-0.001800,0.025303,-0.012893,0.002398,-0.000116,1.000000,0.014115,0.002723
Cortisol level,-0.001780,0.030753,0.009632,-0.005878,0.005579,-0.013127,0.022964,0.014115,1.000000,0.397780
Stress level,-0.010619,0.003898,0.243604,0.000387,-0.001679,0.423854,0.366492,0.002723,0.397780,1.000000

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Gender                  5000 non-null   int32
 1   Age                     5000 non-null   int64
 2   Heart rate(BPM)         5000 non-null   int64
 3   Heart rate variability  5000 non-null   float64
 4   Respiratory rate        5000 non-null   int64
 5   Mental Fatigue level    5000 non-null   float64
 6   Reaction time delay     5000 non-null   float64
 7   Adrenaline              5000 non-null   float64
 8   Cortisol level          5000 non-null   float64
 9   Stress level            5000 non-null   int32
dtypes: float64(5), int32(2), int64(3)
memory usage: 351.7 KB

In [24]:
pd.crosstab(df["Respiratory rate"], df["Adrenaline"])

Adrenaline,0.50,0.51,0.52,0.53,0.54,0.55,0.56,0.57,0.58,0.59,...,4.91,4.92,4.93,4.94,4.95,4.96,4.97,4.98,4.99,5.00
Respiratory rate,,,,,,,,,,,,,,,,,,,,,
12,1,1,0,0,0,0,0,3,0,3,...,1,1,0,0,1,2,1,1,0,1
13,0,2,0,0,0,0,0,0,0,0,...,1,0,2,1,1,1,1,0,0,0
14,0,0,0,0,1,0,4,0,1,0,...,1,0,0,1,2,0,3,0,0,0
15,0,3,0,0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
16,0,1,1,1,1,0,1,0,1,1,...,0,1,0,1,1,0,1,1,3,0
17,0,0,0,1,0,1,3,1,1,0,...,0,0,2,0,0,0,1,2,0,1
18,0,0,1,2,0,0,1,2,0,0,...,0,0,0,2,1,0,0,0,0,0
19,0,1,0,0,0,0,0,0,1,2,...,1,0,0,0,0,0,0,2,0,0
20,0,3,0,0,2,0,1,1,2,0,...,0,0,1,0,1,0,1,0,0,0
21,1,1,0,1,0,0,0,1,1,0,...,0,0,0,1,1,3,1,0,0,0
22,1,1,3,1,0,0,2,0,2,0,...,0,0,1,0,2,0,1,1,0,1
23,0,1,1,1,0,0,1,0,0,1,...,1,0,1,0,2,2,0,1,1,0
24,0,0,1,0,0,0,1,1,1,0,...,1,2,2,2,0,0,0,1,0,1
25,2,2,0,1,0,0,1,1,0,0,...,2,1,1,0,0,1,0,0,1,0
26,0,0,0,1,0,1,0,1,1,0,...,1,1,0,0,0,0,1,1,0,0
27,0,0,1,1,2,4,0,1,1,1,...,0,0,1,2,0,0,1,0,2,0
28,0,0,1,4,0,0,0,0,0,0,...,1,1,2,1,0,0,1,0,0,0
29,0,1,2,0,0,0,0,2,0,1,...,1,1,0,1,1,1,0,0,1,0

In [25]:
df.groupby(["Heart rate(BPM)","Stress level"]).groups

{(60, 0): [60, 674, 1068, 1313, 1470, 1497, 1540, 1605, 1671, 1697, 1796, 2053, 2098, 2118, 2502, 2554, 2562, 2608, 2688, 2781, 2815, 3109, 3231, 3276, 3297, 3361, 3456, 3701, 3969, 4063, 4204, 4261, 4292, 4557, 4634, 4799], (60, 1): [1382, 2182, 3120, 3720, 4435, 4988], (60, 2): [49, 138, 311, 509, 749, 777, 1166, 1174, 1178, 1295, 1385, 1398, 1421, 1453, 1608, 1626, 1628, 1995, 2011, 2151, 2368, 2477, 2482, 2533, 2534, 2560, 2822, 2866, 2958, 2979, 3415, 3489, 3574, 3718, 3744, 3957, 3982, 4192, 4670, 4704, 4791, 4984], (61, 0): [37, 80, 94, 114, 300, 475, 651, 654, 825, 1122, 1152, 1370, 1457, 1509, 1769, 1901, 2038, 2461, 2704, 2729, 3220, 3354, 3367, 3789, 3801, 3870, 3896, 3900, 3912, 4096, 4125, 4939], (61, 1): [403, 1692, 3608], (61, 2): [6, 34, 109, 129, 388, 474, 640, 1112, 1137, 1197, 1235, 1343, 1387, 1417, 1529, 1669, 1690, 1770, 1787, 1812, 1922, 1974, 2115, 2137, 2165, 2356, 2573, 2693, 3000, 3021, 3253, 3385, 3409, 3413, 3472, 3541, 3586, 3643, 3867, 4002, 4016, 4081, 4324, 4424], (62, 0): [51, 136, 634, 759, 872, 1003, 1045, 1180, 1254, 1346, 1350, 1437, 1815, 1837, 1838, 2006, 2032, 2270, 2354, 2371, 2586, 2715, 2808, 2842, 2865, 2909, 2927, 3037, 3171, 3195, 3286, 3304, 3641, 3798, 3922, 3947, 4059, 4956, 4970, 4973], (62, 1): [3716, 3743], (62, 2): [44, 76, 159, 305, 421, 469, 577, 589, 698, 1231, 1677, 1928, 1997, 2217, 2454, 2566, 2769, 2789, 2823, 2824, 2982, 2993, 3124, 3192, 3279, 3280, 3496, 3575, 3831, 3872, 4329, 4333, 4444, 4453, 4457, 4650, 4683, 4801, 4941, 4989], (63, 0): [266, 620, 1091, 1479, 1520, 1522, 1610, 1734, 1737, 1861, 2146, 2152, 2345, 2373, 2436, 2641, 2777, 2797, 2834, 2847, 2948, 3034, 3234, 3327, 3569, 3651, 3995, 4047, 4133, 4193, 4315, 4546, 4635, 4853, 4911], (63, 1): [1880, 2804, 3494, 4938], (63, 2): [212, 392, 446, 542, 567, 780, 791, 1119, 1154, 1201, 1393, 1589, 1672, 1800, 1876, 2065, 2226, 2350, 2479, 2590, 2671, 2959, 3053, 3084, 3333, 3380, 3562, 3632, 3814, 3875, 3903, 3986, 3993, 4073, 4094, 4112, 4157, 4491, 4794, 4872, 4928, 4975], (64, 0): [86, 140, 151, 202, 445, 576, 680, 860, 1200, 1247, 1629, 1709, 1985, 2017, 2103, 2393, 2518, 2556, 2796, 2925, 2942, 2950, 3114, 3168, 3243, 3459, 3845, 3987, 4146, 4416, 4433, 4614, 4880], (64, 1): [1549, 3274], (64, 2): [90, 119, 164, 214, 545, 742, 944, 964, 1380, 1404, 1495, 1660, 2104, 2415, 2764, 2892, 2953, 3128, 3193, 3244, 3320, 3511, 3517, 3754, 3817, 4127, 4128, 4131, 4314, 4328, 4485, 4652, 4666, 4829, 4838, 4929, 4930, 4949, 4967], (65, 0): [295, 307, 313, 493, 667, 744, 961, 1141, 1282, 1349, 1661, 2301, 2409, 2501, 3352, 3430, 3502, 3654, 3913, 3936, 4144, 4169, 4203, 4302, 4598, 4743], (65, 1): [133, 490, 1203, 1489, 3473, 3503], (65, 2): [65, 259, 466, 643, 933, 1030, 1051, 1147, 1156, 1168, 1294, 1296, 1309, 1562, 1571, 1688, 1735, 1746, 2194, 2254, 2283, 2319, 2360, 2504, 2558, 2753, 2893, 3029, 3111, 3248, 3388, 3625, 3760, 3766, 3984, 4044, 4054, 4148, 4231, 4249, 4400, 4484, 4513, 4528, 4534, 4543, 4625, 4659, 4813, 4845, 4944], (66, 0): [211, 518, 573, 591, 805, 993, 1082, 1084, 1132, 1143, 1363, 1376, 1555, 1754, 2206, 2266, 2523, 2640, 3240, 3442, 3466, 3481, 3601, 3719, 3804, 3835, 3955, 4267, 4351, 4371, 4377, 4516, 4554, 4776, 4798, 4846, 4886], (66, 1): [1106, 1325, 3062, 3594, 3634, 4396, 4925], (66, 2): [278, 324, 481, 557, 593, 691, 794, 869, 1000, 1065, 1077, 1162, 1462, 1493, 1954, 2018, 2250, 2396, 2419, 2465, 2720, 2739, 2929, 2940, 3001, 3146, 3281, 3551, 3638, 3733, 3792, 3808, 3935, 4004, 4075, 4224, 4288, 4307, 4596, 4626, 4707, 4826], (67, 0): [356, 405, 459, 536, 541, 550, 661, 682, 715, 754, 844, 947, 1134, 1304, 1507, 1699, 1783, 1835, 1860, 1978, 1988, 2378, 2550, 2945, 3123, 3166, 3229, 3382, 3934, 4071, 4353, 4468, 4515, 4701, 4724], (67, 1): [449, 1655, 2102, 3850, 4575, 4675], (67, 2): [169, 708, 879, 892, 907, 974, 1053, 1229, 1583, 1706, 1833, 1926, 2135, 2143, 2253, 2362, 2707, 2965, 3014, 3044, 3069, 3104, 3264, 3378, 3395, 3436, 3474, 3636, 3858, 3911, 3970, 3985, 4205, 4240, 4492, 4646, 4777, 4850, 4998], (68, 0): [55, 301, 353, 416, 599, 1337, 1471, 1488, 1534, 2044, 2090, 2228, 2303, 2434, 2448, 2611, 2721, 2998, 3017, 3096, 3098, 3218, 3338, 3723, 4036, 4098, 4123, 4381, 4430, 4469, 4604, 4714, 4851, 4950, 4985], (68, 1): [2986, 4957], (68, 2): [87, 189, 252, 450, 652, 686, 733, 756, 813, 842, 922, 966, 1088, 1163, 1465, 1480, 1543, 1565, 1653, 1668, 1678, 1728, 1772, 1846, 1879, 1882, 1906, 1981, 2033, 2056, 2109, 2179, 2264, 2267, 2313, 2498, 2574, 2698, 2756, 2981, 3097, 3179, 3247, 3383, 3419, 3633, 3687, 3838, 4033, 4134, 4389, 4395, 4524, 4768, 4918], (69, 0): [30, 268, 414, 657, 955, 1239, 1278, 1279, 1357, 1517, 1539, 1685, 1707, 1902, 2007, 2139, 2175, 2201, 2386, 2488, 2638, 2903, 3270, 3471, 3853, 3952, 4024, 4143, 4219, 4228, 4256, 4265, 4384, 4808], (69, 1): [3082, 3463, 3772, 4138, 4364], (69, 2): [206, 267, 431, 619, 630, 743, 755, 762, 1014, 1027, 1064, 1170, 1341, 1439, 1601, 1613, 1623, 1654, 1682, 1724, 1798, 1802, 2071, 2186, 2209, 2210, 2351, 2447, 2526, 2622, 2793, 2809, 2905, 3204, 3254, 3299, 3346, 3629, 3785, 3916, 3920, 3925, 4045, 4061, 4076, 4166, 4379, 4410, 4525, 4997], (70, 0): [15, 106, 367, 522, 587, 638, 760, 767, 1087, 1116, 1274, 1326, 1644, 1748, 1852, 1858, 1965, 2015, 2500, 2599, 2647, 2656, 3067, 3715, 3866, 3937, 4012, 4056, 4109, 4931], (70, 1): [427, 797, 2487, 3008, 4403], (70, 2): [89, 271, 400, 407, 418, 505, 706, 983, 1028, 1107, 1120, 1139, 1172, 1320, 1352, 1381, 1405, 1423, 1665, 1715, 1753, 1804, 1813, 1877, 2077, 2089, 2171, 2414, 2426, 2499, 2700, 2732, 2737, 2859, 3291, 3372, 3381, 3559, 3657, 3884, 4247, 4376, 4494, 4570, 4673, 4824, 4982], (71, 0): [3, 77, 149, 1041, 1062, 1104, 1285, 1681, 2225, 2326, 3169, 3516, 3688, 3865, 4068, 4124, 4282, 4359], (71, 1): [79, 1262, 1484, 1944], (71, 2): [143, 177, 284, 376, 420, 470, 472, 512, 641, 761, 782, 804, 840, 887, 918, 926, 958, 1089, 1318, 1321, 1394, 1443, 1592, 1696, 1807, 1849, 1881, 1929, 2028, 2078, 2086, 2196, 2555, 2582, 2613, 2626, 2760, 2780, 2884, 2978, 3066, 3110, 3160, 3233, 3418, 3557, 3734, 3954, 3971, 3979, 4221, 4273, 4366, 4404, 4408, 4419, 4434, 4527, 4583, 4749, 4782, 4841, 4876, 4894], (72, 0): [194, 444, 785, 861, 1110, 1206, 1245, 1331, 1642, 1878, 1917, 2045, 2324, 2505, 2532, 2540, 2901, 2920, 3259, 3275, 3340, 3356, 3450, 3583, 3589, 3699, 3764, 3905, 3980, 4050, 4242, 4255, 4325, 4671, 4713, 4772], (72, 2): [4, 141, 155, 178, 244, 738, 748, 817, 826, 850, 1095, 1125, 1135, 1175, 1249, 1410, 1413, 1523, 1525, 1627, 1657, 1702, 1767, 1774, 1777, 1883, 1888, 1896, 1897, 1904, 2057, 2163, 2268, 2425, 2497, 2699, 2710, 2718, 2881, 2908, 2999, 3165, 3206, 3228, 3236, 3258, 3318, 3437, 3470, 3487, 3514, 3612, 3664, 3842, 3854, 4407, 4450, 4578, 4591, 4667, 4766, 4839], (73, 0): [335, 412, 448, 484, 563, 627, 978, 1216, 1402, 1578, 1932, 1949, 2463, 2836, 3080, 3147, 3341, 4069, 4375, 4871, 4905], (73, 1): [2457, 4733], (73, 2): [46, 224, 236, 321, 424, 468, 532, 609, 773, 847, 1183, 1252, 1261, 1442, 1643, 1736, 1805, 1820, 1844, 1908, 2000, 2097, 2116, 2128, 2147, 2198, 2297, 2320, 2388, 2515, 2735, 2744, 2873, 2877, 2992, 3194, 3322, 3325, 3396, 3579, 3752, 3902, 4085, 4486, 4520, 4553, 4621, 4654, 4681, 4700, 4703, 4780], (74, 0): [199, 225, 317, 382, 476, 504, 615, 692, 1236, 1364, 1609, 2174, 2220, 2296, 2300, 2617, 2946, 3257, 3602, 3689, 3767, 3794, 4023, 4327, 4563, 4688, 4717, 4770, 4837, 4968], (74, 1): [4898], (74, 2): [23, 377, 390, 433, 723, 833, 836, 921, 931, 1114, 1302, 1345, 1353, 1546, 1582, 1631, 1703, 1911, 1945, 1953, 1955, 1994, 2023, 2061, 2123, 2133, 2162, 2204, 2280, 2377, 2423, 2460, 2475, 2596, 2795, 2805, 3284, 3307, 3434, 3644, 3668, 3717, 3759, 3843, 3961, 4025, 4291, 4299, 4304, 4708, 4804, 4860, 4891, 4904, 4909], (75, 0): [9, 217, 273, 277, 616, 946, 970, 1224, 1593, 1630, 1810, 1931, 1933, 1989, 2122, 2127, 2598, 2639, 2701, 2967, 3105, 3159, 3255, 3592, 3667, 4046, 4172, 4246, 4441, 4705, 4748, 4889, 4934], (75, 1): [3873, 4542], (75, 2): [29, 174, 204, 279, 282, 731, 793, 901, 903, 1052, 1102, 1123, 1222, 1411, 1418, 1494, 1496, 1590, 1695, 1749, 1771, 1921, 2043, 2113, 2243, 2442, 2605, 2672, 2673, 2702, 2736, 2748, 2879, 2895, 2989, 3083, 3088, 3116, 3141, 3142, 3156, 3207, 3251, 3314, 3386, 3433, 3509, 3620, 3705, 3711, 3768, 3800, 4006, 4037, 4051, 4087, 4101, 4139, 4239, 4269, 4397, 4476, 4505, 4521, 4540, 4648, 4669, 4723, 4741, 4807, 4908], (76, 0): [234, 292, 334, 487, 681, 725, 1012, 1037, 1079, 1194, 1219, 1504, 1742, 1809, 1843, 1914, 2183, 2490, 2576, 2591, 2694, 3100, 3161, 3188, 3213, 3443, 3659, 4225, 4319, 4526, 4552, 4815, 4961, 4986], (76, 1): [256, 2680, 4388, 4786], (76, 2): [71, 230, 462, 479, 824, 880, 885, 902, 920, 1127, 1186, 1267, 1429, 1458, 1639, 1651, 1664, 1841, 1923, 2050, 2099, 2157, 2344, 2417, 2528, 2580, 2614, 2654, 2712, 2750, 2758, 2774, 2806, 3030, 3045, 3232, 3245, 3373, 3548, 3578, 3642, 3741, 3777, 3886, 3956, 4007, 4031, 4091, 4181, 4232, 4260, 4274, 4349, 4495, 4820], (77, 0): [208, 220, 251, 510, 531, 533, 637, 930, 1169, 1181, 1817, 1829, 1946, 2005, 2054, 2079, 2309, 2440, 2974, 3117, 3181, 3290, 3429, 3533, 3631, 3882, 3948, 4341, 4706, 4834, 4954], (77, 1): [1046, 4448], (77, 2): [2, 54, 210, 245, 348, 350, 409, 457, 495, 569, 602, 945, 1017, 1055, 1240, 1332, 1365, 1366, 1397, 1483, 1514, 1526, 1600, 1604, 1721, 2002, 2189, 2249, 2339, 2366, 2727, 2786, 2814, 2936, 3040, 3106, 3119, 3132, 3138, 3266, 3431, 3523, 3547, 3593, 3670, 3939, 4105, 4195, 4235, 4253, 4317, 4452, 4564, 4577, 4629, 4747, 4947], (78, 0): [375, 434, 584, 671, 904, 1049, 1153, 1233, 1533, 1832, 2167, 2391, 2722, 2749, 2826, 3131, 3250, 3696, 3787, 4216, 4398, 4440, 4600, 4601, 4955], (78, 1): [597, 3093, 3484], (78, 2): [142, 240, 257, 361, 612, 622, 631, 1044, 1097, 1131, 1146, 1386, 1474, 1490, 1501, 1711, 1743, 1759, 1892, 1894, 1973, 2019, 2107, 2134, 2289, 2298, 2328, 2332, 2381, 2397, 2568, 2678, 2719, 2783, 2869, 2916, 3004, 3022, 3076, 3121, 3303, 3330, 3335, 3360, 3393, 3464, 3491, 3605, 3763, 3791, 3823, 3975, 4095, 4100, 4175, 4188, 4198, 4279, 4363, 4385, 4474, 4529, 4971], (79, 0): [172, 238, 583, 838, 976, 1226, 1625, 1666, 1818, 1853, 1910, 2649, 3566, 3738, 3879, 4367, 4686, 4951], (79, 1): [1930], (79, 2): [124, 126, 162, 264, 298, 306, 357, 389, 695, 750, 900, 963, 1006, 1016, 1177, 1214, 1273, 1372, 1389, 1396, 1472, 1512, 1612, 1718, 1719, 1874, 1976, 2030, 2073, 2084, 2203, 2305, 2584, 2601, 2966, 3013, 3024, 3036, 3078, 3317, 3751, 3852, 3894, 3924, 3933, 4008, 4266, 4276, 4411, 4653, 4750, 4836, 4874, 4879], (80, 0): [58, 122, 270, 852, 1042, 1220, 1391, 1656, 2042, 2087, 2273, 2329, 2637, 2844, 2848, 3488, 3918, 3945, 3998, 4108, 4821, 4943], (80, 1): [1128, 1388, 3011, 4409], (80, 2): [61, 88, 117, 229, 287, 430, 437, 455, 520, 624, 739, 741, 1071, 1205, 1270, 1542, 1587, 1607, 1720, 1779, 1848, 1872, 2221, 2285, 2293, 2496, 2530, 2674, 2697, 2782, 2784, 2852, 2968, 3003, 3094, 3252, 3390, 3690, 3864, 4209, 4283, 4306, 4479, 4497, 4545, 4796, 4833, 4843, 4854, 4856, 4903], (81, 0): [436, 467, 878, 952, 1195, 1840, 1903, 2430, 2726, 2840, 2931, 3074, 3446, 3577, 4019, 4431, 4437, 4588, 4757, 4764], (81, 2): [13, 83, 153, 203, 360, 393, 506, 523, 633, 705, 795, 973, 1199, 1237, 1241, 1298, 1395, 1466, 1482, 1506, 1552, 1591, 1679, 1687, 1757, 1975, 1996, 2173, 2236, 2244, 2259, 2486, 2506, 2509, 2612, 2621, 2661, 2683, 2872, 3007, 3054, 3095, 3154, 3175, 3212, 3226, 3364, 3379, 3427, 3455, 3486, 3650, 3863, 3989, 4049, 4093, 4130, 4136, 4300, 4316, 4555, 4818], (82, 0): [246, 590, 592, 893, 1680, 1765, 2039, 2933, 2973, 3201, 3241, 3324, 3452, 3483, 3708, 3876, 4029, 4106, 4445, 4456, 4726], (82, 1): [231, 2917], (82, 2): [36, 57, 84, 107, 192, 222, 374, 396, 443, 477, 519, 688, 790, 843, 965, 997, 1025, 1096, 1272, 1288, 1390, 1554, 1557, 1614, 1635, 1948, 1984, 2040, 2108, 2141, 2145, 2159, 2232, 2257, 2405, 2728, 2761, 2813, 2843, 2846, 3038, 3196, 3214, 3277, 3350, 3507, 3698, 3726, 3755, 3770, 3890, 3921, 3992, 4010, 4017, 4336, 4582, 4630, 4640, 4893, 4913, 4963, 4995], (83, 0): [165, 269, 340, 496, 535, 702, 822, 1074, 1101, 1306, 1369, 1401, 2168, 2333, 2468, 2603, 2771, 3397, 3660, 3949, 4323, 4394, 4415, 4572, 4612, 4679], (83, 1): [499, 2432], (83, 2): [11, 35, 95, 170, 185, 207, 296, 328, 492, 508, 1086, 1140, 1230, 1253, 1284, 1300, 1336, 1392, 1406, 1412, 1414, 1518, 1528, 1893, 1915, 1971, 2067, 2130, 2170, 2237, 2323, 2402, 2462, 2557, 2609, 2610, 2714, 2858, 2904, 2930, 2990, 2997, 3057, 3068, 3242, 3510, 3704, 3769, 3811, 3897, 4057, 4210, 4241, 4245, 4305, 4467, 4477, 4493, 4538, 4580, 4599, 4709, 4721, 4769, 4795, 4819, 4878, 4883, 4976], (84, 0): [47, 228, 265, 763, 948, 1002, 1076, 1751, 1758, 1831, 1968, 2358, 2897, 3018, 3032, 3164, 3476, 3944, 3976, 4070, 4103, 4153, 4177, 4211, 4536, 4592, 4858], (84, 2): [128, 145, 182, 299, 344, 429, 572, 607, 611, 697, 766, 821, 849, 864, 928, 1164, 1196, 1210, 1232, 1301, 1524, 1559, 1676, 1768, 1979, 1987, 2085, 2088, 2092, 2100, 2121, 2352, 2365, 2459, 2538, 2559, 2561, 2615, 2645, 2828, 3005, 3019, 3126, 3151, 3205, 3249, 3410, 3428, 3535, 3563, 3706, 3880, 3988, 4113, 4262, 4295, 4459, 4466, 4539, 4676, 4694], (85, 0): [219, 1248, 1451, 1726, 1755, 1885, 2124, 2308, 2384, 2539, 2675, 2833, 2957, 2985, 3353, 3391, 3725, 3793, 3824, 3887, 3960, 4055, 4277, 4620, 4643, 4991], (85, 2): [42, 53, 132, 213, 274, 319, 352, 386, 398, 553, 772, 811, 914, 950, 1142, 1192, 1211, 1303, 1375, 1416, 1505, 1584, 1738, 1761, 2037, 2119, 2156, 2240, 2252, 2334, 2361, 2429, 2476, 2494, 2682, 2752, 2776, 2853, 2962, 2972, 3041, 3055, 3269, 3313, 3384, 3402, 3527, 3656, 3658, 3822, 4015, 4066, 4082, 4118, 4196, 4236, 4258, 4293, 4346, 4449, 4499, 4507, 4657, 4756, 4847, 4953, 4994], (86, 0): [92, 112, 848, 1871, 2012, 2413, 2469, 3099, 3163, 3323, 3849, 3899, 4460, 4689, 4773], (86, 1): [2364], (86, 2): [62, 258, 272, 297, 343, 494, 543, 617, 673, 718, 832, 882, 890, 1020, 1185, 1244, 1250, 1289, 1464, 1560, 1862, 2014, 2047, 2138, 2177, 2330, 2420, 2473, 2512, 2620, 2625, 2642, 2666, 2838, 3051, 3085, 3185, 3202, 3351, 3497, 3525, 3677, 3746, 3826, 3848, 3953, 4137, 4463, 4504, 4571, 4641, 4685, 4739, 4790, 4852, 4912], (87, 0): [103, 302, 447, 534, 562, 719, 960, 1093, 1171, 1228, 1263, 1434, 1535, 1645, 1773, 1890, 1947, 2231, 2291, 2451, 2542, 2616, 2915, 3086, 3422, 3981, 4590, 4693], (87, 2): [0, 69, 364, 401, 426, 483, 515, 529, 559, 575, 623, 830, 862, 1160, 1356, 1588, 1633, 1793, 1834, 1899, 2046, 2144, 2181, 2213, 2310, 2321, 2336, 2431, 2687, 2745, 2799, 2944, 3300, 3394, 3501, 3520, 3521, 3626, 3661, 3684, 3709, 3803, 3990, 4074, 4194, 4338, 4414, 4548, 4551, 4587, 4680, 4870, 4933, 4952, 4972], (88, 0): [43, 383, 478, 1080, 1121, 1149, 1265, 1599, 1747, 2343, 2444, 2831, 3729, 3810, 3855, 3885, 4217, 4271, 4725, 4814, 4914], (88, 1): [648], (88, 2): [1, 19, 123, 221, 237, 331, 406, 527, 655, 732, 737, 796, 801, 828, 898, 911, 969, 1109, 1189, 1227, 1427, 1435, 1576, 1816, 1966, 2022, 2129, 2150, 2188, 2349, 2433, 2480, 2571, 2827, 2861, 2891, 3028, 3158, 3183, 3273, 3287, 3298, 3366, 3454, 3457, 3646, 3703, 3724, 3765, 3788, 3815, 3819, 3821, 3846, 3859, 3926, 3943, 4027, 4053, 4058, 4135, 4190, 4243, 4309, 4378, 4380, 4533, 4558, 4611, 4623, 4754, 4763, 4789, 4810, 4895, 4899], (89, 0): [1510, 1830, 1950, 2080, 2255, 2529, 2546, 2606, 2716, 3246, 3556, 3598, 3820, 3862, 4115, 4561, 4567], (89, 1): [4937], (89, 2): [85, 99, 150, 239, 275, 362, 373, 482, 486, 549, 632, 650, 781, 1011, 1081, 1161, 1258, 1378, 1399, 1446, 1459, 1662, 1686, 1691, 1727, 1750, 1847, 1867, 1916, 1942, 2029, 2111, 2214, 2241, 2392, 2472, 2618, 2657, 2934, 3035, 3198, 3288, 3334, 3522, 3782, 3805, 3827, 3830, 3881, 4183, 4340, 4472, 4585, 4736, 4755, 4882, 4996], (90, 0): [327, 378, 1108, 1184, 1329, 2205, 2265, 2733, 2851, 2894, 2907, 3064, 3403, 3519, 3537, 3568, 3860, 3914, 4442, 4805, 4959, 4993], (90, 2): [25, 39, 96, 105, 163, 330, 368, 464, 579, 787, 827, 834, 854, 915, 953, 987, 1111, 1338, 1348, 1408, 1573, 1634, 1650, 1663, 1731, 1760, 1778, 1824, 1836, 1967, 2184, 2274, 2292, 2353, 2395, 2398, 2450, 2508, 2624, 2628, 2646, 2740, 2759, 2819, 2896, 2975, 3046, 3135, 3237, 3271, 3302, 3336, 3337, 3348, 3387, 3619, 3663, 3735, 3802, 3898, 3967, 4043, 4178, 4187, 4229, 4356, 4361, 4387, 4510, 4560, 4586, 4728, 4855, 4977], (91, 0): [131, 346, 488, 1026, 1448, 1450, 1780, 1851, 2160, 2563, 2630, 2792, 2919, 2937, 3152, 3565, 3627, 4114, 4310, 4678], (91, 2): [32, 184, 197, 254, 293, 333, 441, 480, 672, 679, 722, 845, 871, 927, 932, 949, 1447, 1647, 1693, 1789, 1912, 1924, 2095, 2153, 2258, 2277, 2282, 2287, 2314, 2521, 2629, 3010, 3056, 3061, 3070, 3221, 3260, 3363, 3406, 3445, 3546, 3722, 3736, 3851, 3923, 3978, 4161, 4244, 4248, 4311, 4651, 4656, 4668], (92, 0): [137, 253, 546, 883, 1330, 1568, 2066, 2272, 2889, 2923, 2941, 2951, 2963, 3136, 3272, 3316, 3534, 3542, 3761, 3964, 4797, 4877], (92, 1): [1165, 1907], (92, 2): [97, 168, 227, 248, 309, 458, 628, 656, 665, 677, 726, 734, 799, 837, 986, 1083, 1103, 1173, 1215, 1234, 1246, 1400, 1508, 1531, 1620, 1913, 1941, 1951, 1977, 2114, 2154, 2242, 2286, 2290, 2443, 2536, 2543, 2597, 2734, 2738, 2829, 2839, 2880, 2890, 2900, 2921, 2964, 2995, 3009, 3020, 3050, 3063, 3081, 3091, 3108, 3173, 3308, 3319, 3424, 3493, 3508, 3694, 3732, 3750, 4014, 4041, 4206, 4222, 4252, 4345, 4391, 4509, 4698, 4722, 4745, 4758], (93, 0): [556, 939, 991, 1105, 1117, 1564, 1621, 2922, 3190, 3871, 4021, 4517, 4875], (93, 2): [152, 263, 315, 465, 501, 521, 548, 595, 658, 685, 703, 721, 815, 982, 1007, 1034, 1277, 1373, 1383, 1467, 1574, 1616, 1641, 1683, 1725, 1782, 1821, 1982, 2136, 2276, 2295, 2306, 2403, 2522, 2607, 2913, 2949, 2955, 2994, 3075, 3209, 3549, 3931, 4011, 4013, 4122, 4167, 4176, 4263, 4287, 4392, 4547, 4568, 4793, 4964], (94, 0): [148, 417, 525, 689, 711, 866, 1311, 1536, 1547, 2279, 2856, 3283, 3461, 3581, 3692, 3907, 4334, 4421, 4565], (94, 2): [12, 20, 91, 113, 218, 260, 280, 285, 355, 365, 415, 453, 784, 938, 1015, 1090, 1259, 1425, 1648, 1775, 1801, 1811, 1854, 2024, 2093, 2106, 2140, 2271, 2363, 2634, 2658, 2670, 2816, 3059, 3172, 3468, 3500, 3526, 3555, 3558, 3584, 3662, 3666, 3679, 3683, 3847, 3856, 3968, 4165, 4189, 4251, 4290, 4294, 4318, 4573, 4639, 4720, 4835, 4862], (95, 0): [290, 471, 1190, 1316, 1580, 1764, 1842, 2001, 2052, 2768, 2830, 3282, 3596, 3906, 4168, 4607, 4684, 4771], (95, 1): [3416], (95, 2): [14, 68, 200, 337, 372, 544, 769, 820, 913, 1024, 1035, 1070, 1092, 1202, 1218, 1283, 1327, 1403, 1475, 1579, 1585, 1673, 2068, 2072, 2341, 2412, 2466, 2491, 2520, 2579, 2650, 2677, 2690, 2766, 3043, 3186, 3216, 3268, 3305, 3315, 3420, 3475, 3742, 3753, 3790, 3809, 4035, 4038, 4080, 4120, 4344, 4382, 4413, 4480, 4602, 4662, 4783, 4887, 4958], (96, 0): [555, 635, 841, 855, 1499, 1598, 1794, 2031, 2083, 2593, 2849, 3256, 3349, 3518, 3576, 3932, 3965, 4471, 4778], ...}

In [26]:
df["Stress level"].value_counts()

Stress level
2    3673
0    1243
1      84
Name: count, dtype: int64

In [27]:
pd.Categorical(df["Gender"]).describe()

            counts   freqs
categories
0             2496  0.4992
1             2504  0.5008

In [28]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [29]:
sum(df.duplicated())

0